@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-style: normal;
}


body {
    height: 100vh;
    background: linear-gradient(120deg,#526534,#b2bda0, #8d9e6f );
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

#relogio-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 550px;
    background: transparent;
    border-radius: 3px;
    box-shadow:  0px 10px 8px 2px;
}

#relogio-container div {
    height: 170px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #2f3b1c;
    color: #fff;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
    border-radius: 3px;
    letter-spacing: 3px;
}

#relogio-container span {
    font-weight: bolder;
    font-size: 60px;
}

#relogio-container span#tempo {
    font-size: 10px;
}

.btn-download {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 14px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7);
    position: absolute;
    bottom: 30px;
}

.btn-download:hover {
    background-color: #45a049;
}